html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: url('../img/bg.png');
	overflow: hidden;
}
#iphone-container{
	width: 375px;
	height: 806px;
	margin: 40px auto;
	background: url('../img/iphone.png');
	position: relative;
}
#iphone-preview{
	position: absolute;
	top: 147px;
	left: 27px;
	width: 320px;
	height: 548px;
	overflow: hidden;
	background-color: white;
}